on: ["push", "pull_request"]
name: Coveralls
permissions: {}

jobs:
  coveralls:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        toolchain:
          - {compiler: gcc, version: 13}

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Python 
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip==25.2
          python -m pip install build wheel pip-tools
          pip-compile -o requirements.txt --extra test --extra coverage --strip-extras
          python -m pip install -r requirements.txt

      - name: Setup fortran
        uses: fortran-lang/setup-fortran@v1
        with:
          compiler: ${{ matrix.toolchain.compiler }}
          version: ${{ matrix.toolchain.version }}
    
      - name: Build
        # Needs editable install for coverage to work
        run: |
          python -m build
          python -m pip install -e .
        
      - name: Run coveralls
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PYTEST_COVERAGE: 1
        # Don't use python -m pytest as that screws up the module loading
        run: |
          python -m pytest --cov=pyifb --cov-report lcov:lcov.info

      - name: Upload Coverage Results
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          path-to-lcov: lcov.info