name: Linux ARM
on: [push, pull_request]
permissions: {}

jobs:
  linux_arm:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-24.04-arm]    

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Python 
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip==25.2
          python -m pip install build wheel pip-tools
          pip-compile -o requirements.txt --extra test --strip-extras
          python -m pip install -r requirements.txt
          sudo apt-get update
          sudo apt-get install -y gcc gfortran libopenblas-dev

    
      - name: Build
        run: |
          python -m build
          python -m pip install dist/pyifb*.whl

  
      - name: Test
        # Don't use python -m pytest as that screws up the module loading
        run: |
          pytest -v


