name: MacOS CI
on: [push, pull_request]
permissions: {}

jobs:
  macos_ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [macos-latest]    
        python-version: ['3.10', '3.11', '3.12', '3.13']    
        toolchain:
          - {compiler: gcc, version: 12}
          - {compiler: gcc, version: 13}
          - {compiler: gcc, version: 14}


    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip==25.2
          python -m pip install build wheel pip-tools
          pip-compile -o requirements.txt --extra test --strip-extras
          python -m pip install -r requirements.txt

      - uses: fortran-lang/setup-fortran@v1
        id: setup-fortran
        with:
          compiler: ${{ matrix.toolchain.compiler }}
          version: ${{ matrix.toolchain.version }}
    
      - name: Build
        run: |
          python -m build
          python -m pip install dist/pyifb*.whl

  
      - name: Test
        # Don't use python -m pytest as that screws up the module loading
        run: |
          pytest -v


