name:  PyPy
on: [push, pull_request]
permissions: {}

jobs:
  pypy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        toolchain:
          - {compiler: gcc, version: 12}

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up PyPy
        uses: actions/setup-python@v5
        with:
          python-version: 'pypy3.10'
          cache: 'pip'

      - name: Install dependencies
        run: |
          sudo apt-get install -y libopenblas-dev
          pypy3 -m pip install --upgrade pip==25.2
          pypy3 -m pip install build wheel pip-tools
          pip-compile -o requirements.txt --extra test --strip-extras
          pypy3 -m pip install -r requirements.txt


      - uses: fortran-lang/setup-fortran@v1
        id: setup-fortran
        with:
          compiler: ${{ matrix.toolchain.compiler }}
          version: ${{ matrix.toolchain.version }}
    
      - name: Build
        run: |
          pypy3 -m build
          pypy3 -m pip install dist/pyifb*.whl

      - name: Test
        # Don't use python -m pytest as that screws up the module loading
        run: |
          pytest -v
